@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Yanone+Kaffeesatz&display=swap");
main {
  font-family: "Bree Serif", serif;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  /* width: 100%; */
  /* height: 100vh; */
}
.main-box {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 64px;
  /* padding: 20px 0px; */
}
section {
  /* width: 48vw; */
  width: 50%;
  /* height: 80vh; */
  /* border: 1px solid blue; */
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  width: 48vw;
  height: 30em;
  /* border: 3px solid blue; */
  border-radius: 16px;
  margin: 20px 0px;
  background-color: rgb(239, 225, 204);
}
/* li:not(.ingredient__item) */
.workList__work,
.workList__time {
  padding: 10px;
  /* border: 1px solid black; */
  margin-top: 10px;
}
ol {
  list-style: none;
  padding: 0;
  width: 45vw;
}
.article-header {
  width: 45vw;
}
.article-template {
}
.calendar {
  color: none;
}

footer,
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --main-bg-color: rgb(245, 235, 220);
  --main-color: rgb(80, 35, 20);
  --main-footer-color: rgb(187, 163, 122);
  --main-sub-color: rgb(214, 35, 0);
  --main-sub-color__hover: rgba(167, 27, 0, 1);
  --main-sub-color__active: rgba(80, 35, 20, 1);
  --main-star-color: rgba(233, 216, 8, 1);
  --main-star-color__empty: rgba(208, 208, 208, 0.761);
}
body {
  font-family: "Bree Serif", serif;
  background-color: var(--main-bg-color);
  margin: 0;
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Bree Serif", serif;
}
a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .main-box {
    flex-direction: column;
    align-items: center;
  }
  section {
    width: 90%;
  }
  article {
    width: 100%;
  }
  ol,
  .article-header {
    width: 80%;
  }
}
