.react-calendar {
  /* width: 350px; */
  max-width: 70%;
  /* height: 100%; */
  background: white;
  /* border: 10px solid red; */
  /* padding: 10px; */
  margin: 10px;
  border-radius: 12px;
  /* line-height: 1.125em; */
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  outline: none;
}
.react-calendar button:not(.react-calendar__month-view__days__day) {
  border: 0;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  color: red;
  height: calc(1em + 44px);
  margin-bottom: 1em;
  font-size: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 1em;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  /* color: red; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: black;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr {
  color: rgb(209 0 0);
}
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
  color: rgb(0, 0, 209);
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
  /* color: rgb(0 2,0 ,09 ); */
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  margin: 3px 2px;
  border-radius: 20em;
  background: none;
  font-size: 1em;
  height: 3.5em;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #a9d4ff;
  /* border: 5px solid #76baff; */
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  /* background: #ffffa9; */
  background: #7efff5;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.highlight {
  background-color: rgb(155, 233, 168);
  /* margin: 6px; */

  /* background-color: rgba(231, 76, 60, 0.5); */
}

.calendar-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* width: 45vw; */
}

.calendar-header {
  margin-left: 10px;
}
.react-calendar__month-view__days__day {
  border: 6px solid rgb(255, 255, 255);
}
.react-calendar__month-view__days__day:nth-child(7n):not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: rgb(0, 0, 209);
}
