.footer {
  padding: 0px 40%;
  width: calc(100% - 40% - 40%);
  background-color: var(--main-color);
  color: var(--main-bg-color);
}
.footer-icon {
  display: block;
  height: 48px;
  width: 48px;
  font-size: 48px;
  padding: 8px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-text {
  font-family: sans-serif;
}

.footer-column {
  display: flex;
  padding: 6px 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer-column__icon {
  justify-content: center;
  /* margin-left: 48px; */
}

@media (max-width: 1000px) {
  .footer {
    padding: 0;
    width: 100%;
  }
}
