.todo-list__template {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list__header {
  /* text-align: start; */
}
.todo-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  margin-top: 3.75%;
  border: 3px solid rgb(255, 131, 63);
  /* border-right: 11px solid green; */
  border-radius: 24px;
  padding: 1vw;
  width: calc(90% - 6px);
  /* margin-left: 10px; */
  background-color: rgba(205, 97, 51, 1);
  /* width: 70%; */
  /* color: white; */
}

.todo-list {
  overflow-y: scroll;
  /* overflow-x: scroll; */
  /* height: 20vh; */
  margin: 0;
  width: 100%;
  /* width: calc(43vw - 6px); */
}
.todo-list__item {
  height: 50%;
  padding: none;
}
.todo-list__non-item {
  width: calc(100% - 8px);

  display: block;
  /* border: 3px solid blue; */
  overflow-y: hidden;
  overflow-x: hidden;
  /* margin-right: 8px; */
  /* padding-bottom: 6px;
  margin-bottom: 6px; */
}
.todo-list::-webkit-scrollbar {
  width: 8px;
  /* background-color: #f5f5f5; */
}
.todo-list:hover::-webkit-scrollbar-track {
  /* background-color: rgba(245, 131, 63, 0.8); */
}

.todo-list:hover::-webkit-scrollbar-thumb {
  opacity: 0.9;
  background-color: var(--main-sub-color);
  border-radius: 6px;
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  width: 100%;
}
.todo-add {
  /* border-bottom: 2px dotted rgba(226, 156, 63, 0.864); */
  margin-bottom: 3em;
}
.todo__content {
  /* color: white; */
  color: var(--main-bg-color);
  padding: 2px;
  -webkit-appearance: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
}
.todo-input__content:not(.todo-input__checkbox) {
  border: none;
  margin-right: 2%;
  transition: all 0.5s;

  border-bottom: 2px solid rgba(255, 215, 184, 0.898);
}
.todo-input__content:hover {
  transition: all 0.5s;
  border-bottom: 2px solid rgba(253, 162, 91, 0.953);
}
.todo-input__content:focus {
  border-bottom: 2px solid rgb(226, 120, 39);
}
.todo-add__content:not(.todo-add__checkbox) {
  border: none;
  margin-right: 2%;

  border-bottom: 2px solid rgba(255, 193, 146, 0.898);
}
.todo-add__content:hover {
  transition: all 0.5s;
  border-bottom: 2px solid rgba(253, 162, 91, 0.953);
}
.todo-add__content:focus {
  border-bottom: 2px solid rgb(226, 120, 39);
}
.todo-display__content:not(.todo-display__checkbox) {
  border: none;
  cursor: default;
  margin-right: 2%;

  border-bottom: 2px solid rgba(140, 86, 0, 0.611);
}
.todo-display__content:hover {
  transition: all 0.5s;
  border-bottom: 2px solid rgba(131, 86, 12, 0.782);
}

.todo-explain__content:not(.todo-explain__checkbox) {
  /* border: none; */
  cursor: inherit;
  text-align: center;
  padding-left: 2px;

  border-right: 2px solid rgba(39, 36, 36, 0.837);
}
.todo-explain__text {
  border-left: 2px solid rgba(39, 36, 36, 0.837);
  /* border */
}
.todo__explain-btn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: rgba(149, 36, 0, 0.7);
  font-size: 20px;
}
.todo__explain-btn:hover {
  color: rgba(87, 31, 13, 0.9);
}
.todo__explain-btn:focus {
  color: rgba(48, 18, 8, 0.9);
}
.todo__checkbox {
  width: 5%;
  display: none;
}
.todo__label {
  /* background-color: var(--main-bg-color); */
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  font-size: 5px;
}
.todo-display__checkbox,
.todo-display__label {
  cursor: default;
  /* background-color: red; */
}
.todo__checkbox + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: white;
}
/* .todo__checkbox:checked + label {
  border: 1px solid black;
  background-color: white;
} */
.todo__checkbox + .todo__label-disable {
  background-color: inherit;
  cursor: default;
  border: none;
  /* border: 1px solid blue; */
  /* display: inline-block;
  width: 10px;
  height: 10px;
  border: none;
  cursor: default; */
}
.todo__label-icon {
  position: absolute;
  top: -4px;
  right: -1px;
  width: 12px;
}
.todo-icon__check {
  font-size: 14px;
}
.todo__text {
  display: inline-block;
  margin-left: 8px;
  width: 40%;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: clip;
}
.todo__text-checked {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  /* opacity: 0.9; */
  /* text-decoration-color: rgba(77, 77, 77, 0.734); */
}
.todo__date {
  cursor: pointer;
  text-align: center;
  display: inline;
  width: 100%;
}
.todo-explain__date {
  display: inline-block;
  width: 20%;
}
.todo-explain__text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
}
.react-datepicker__triangle {
  /* display: none; */
}
.react-datepicker-wrapper {
  /* display: block; */
  width: 18%;
  margin-right: 0.75em;
}

.react-datepicker__tab-loop {
  position: fixed;
  z-index: 99;
}

.todo__priority {
  width: 20%;
}
.todo-explain__priority {
  display: inline-block;
  width: 20%;
}
.todo__btn-box {
  display: inline-block;
  /* margin-left: 0.3em; */
  /* margin-left: ; */
  /* background-color: red;
  border: 1px solid green; */

  width: 10%;
}
.todo__btn-content {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* background-color: black; */
}

.todo__btn {
  /* display: inline-block; */
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* padding: 4px; */
  margin-left: 16px;
  height: 28px;
  width: 32px;
  font-weight: bold;
  color: var(--main-bg-color);
  background-color: var(--main-sub-color);
}

.todo__btn:hover {
  transition: all 0.5s;
  background-color: var(--main-sub-color__hover);
}

.todo__btn:active {
  transition: all 0.5s;
  background-color: var(--main-sub-color__active);
}

.todo-icon:not(.todo-icon__check) {
  font-size: 18px;
  height: 16px;
  width: 16px;
}

.todo__star-rating {
  /* width: 60px; */
  /* display: inline; */
  display: flex;
}
.star-container {
  /* width: 100%; */
}
.star-ratings {
  /* padding: 20px; */
}
.todo-expired {
  /* color: var(--main-color); */
  color: green;
}

.todo__btn-expired {
  background-color: var(--main-color);
  opacity: 1;
}

.todo__btn-expired:hover {
  transition: all 0.5s;
  background-color: var(--main-color);
  opacity: 0.9;
}

.todo__btn-expired:active {
  transition: all 0.5s;
  background-color: var(--main-color);
  opacity: 0.8;
}

.todo-expired__content {
  color: rgb(54, 0, 0);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.todo__btn-expire {
  cursor: default;
}
.todo__btn-expired__highlight {
  background-color: red;
}
.todo__btn-delete__expired {
  animation: backgroundColorLoop 2s infinite;
}
@keyframes backgroundColorLoop {
  0% {
    color: var(--main-bg-color);
  }
  50% {
    color: rgb(255 167 125);
  }
  100% {
    color: var(--main-bg-color);
  }
}
@media all and (orientation: portrait) {
  /* //해당 비교에 따라 우선순위 별표의 위치조정을 실행한다. */
  .todo__star-rating {
    margin-left: calc(2.25vh / 2.75);
  }
  .todo__btn-box {
    margin-left: calc(2.25vh / 1.25);
  }
  .todo__btn-box {
    justify-content: flex-start;
  }
  .todo__explain-btn {
    font-size: 6px;
  }
  .todo__content {
    font-size: 10px;
  }
  .todo__text {
    width: 30%;
  }
  .todo__btn {
    /* padding: 4px; */
    /* margin-left: 2%; */
    height: 24px;
    width: 27px;
    font-weight: bold;
    color: var(--main-bg-color);
    background-color: var(--main-sub-color);
  }
  .todo__btn-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
  }
}
@media all and (orientation: landscape) {
  .todo__star-rating {
    margin-left: calc(1.25vw / 2.75);
  }
  .todo__btn-box {
    /* background-color: bl ue; */
    margin-left: calc(1.25vw / 1.25);
  }
}
