.ReactModal__Content {
  /* z-index: 2; */
}
.modalWindow {
  color: var(--main-color);
  /* font-size: 90%; */
  /* width: 40vw; */
}

.modalWindow__input {
  display: inline;
  font-size: 90%;
  border: none;
  background: none;
  border-bottom: 2px solid rgba(243, 156, 18, 0.3);
  background-color: inherit;
  margin-bottom: 5px;
}

.modalWindow__input::placeholder {
  /* font-size: 16px; */
  color: rgb(0, 0, 0, 0.3);
}
.modalWindow__input:hover {
  border: none;
  border-bottom: 2px solid rgba(243, 156, 18, 1);
}
.modalWindow__input-name {
}
.modalWindow__input-time {
  width: 35px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.modalWindow__desc {
  /* display: block;
  width: 5vw;
  margin-bottom: 3px; */
  padding: 5px;
}
.modalWindow__column {
  margin-bottom: 10px;
}
.modalWindow__inputSpace {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
}

.addWinodw__title {
  font-weight: 800;
  font-size: 24px;
}
.modalWindow__tab {
  background-color: inherit;

  border: none;
  border-bottom: 2px solid rgba(243, 156, 18, 0.3);
}
.modalWindow__tab:hover {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgba(243, 156, 18, 0.7);
}
.modalWindow__tab:focus,
.modalWindow__tab-focus {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgb(230, 142, 0);
}
.modalWindow__tab-content {
  height: 200px;
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  /* width: 3em; */
}
.modalWindow__btn {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  color: var(--main-bg-color);
  background-color: var(--main-sub-color);
}

.modalWindow__btn:hover {
  background-color: var(--main-sub-color__hover);
}

.modalWindow__btn:active {
  background-color: var(--main-sub-color__active);
}

.modalWindow__input-minute,
.modalWindow__input-hour {
  /* color: red; */
}
