.workList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.workList__wakeTime {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.workList__bedTime {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.empty-element {
  background-color: rgba(151, 151, 151, 0.707);
}
.empty-element:hover {
  transition: background-color 0.5s;
  background-color: rgba(208, 208, 208, 0.796);
  cursor: pointer;
}

.empty-element.workList__time {
  background-color: rgba(89, 89, 89, 0.707);
}
.empty-element.workList__time:hover {
  transition: background-color 0.5s;
  background-color: rgba(67, 67, 67, 0.796);
  cursor: pointer;
}
.workList__time-display {
  background-color: rgba(250, 193, 88, 0.8);
}

.workList__time-display:hover {
  background-color: rgba(233, 180, 81, 0.933);
  transition: background-color 0.5s;
  cursor: pointer;
}

.workList__work {
  opacity: 0.9;
  border-radius: 5px;
}

.workList__work:hover {
  opacity: 1;
  transition: background-color 0.5s;
  cursor: pointer;
}

.workList__time,
.workList__element-empty,
.workList__work {
  color: black;
}

.workList-header {
  display: flex;
  position: relative;
  flex-direction: row;
  /* margin-left: 1vw; */
  justify-content: space-between;
}

.workList-icon {
  /* position: absolute; */
  top: 3vh;
  right: 1vw;
  color: rgb(137 100 88 / 45%);
  /* border: 1px solid silver; */
  /* text-shadow: 0px 0px 5px blue;
  filter: drop-shadow(30px 10px 4px #4444dd); */
  /* filter: drop-shadow(-1px -1px 1px rgb(171 158 140)); */
  /* rgba(157, 149, 138, 0.3); */
  height: 22px;
}

.workList-star__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-bottom: 0;
  border-radius: 24px;
}
.workList-star__item {
  font-size: 200%;
  width: 36px;
  height: 32px;
  display: flex;
  align-items: flex-start;
  color: var(--main-star-color);
}
.workList-grade__display {
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.81);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.work-icon__star-empty {
  color: var(--main-star-color__empty);
}
.work-icon__star-half__half,
.work-icon__star-half__full {
  position: absolute;
  top: 14px;
}
.work-icon__star-half__full {
  color: var(--main-star-color__empty);
  /* position: absolute; */
}
.work-icon__star-half__box {
  display: block;
  /* height: 43px;
  width: 36px;
  position: relative; */
}
.workList-grade__btn {
  display: block;
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--main-sub-color__hover);
  border: none;
  border-radius: 8px;
  font-size: 24px;
  /* width: 10%; */
  /* height: 50%; */
}
.workList-grade__point {
  margin-left: 16px;
  margin: 8px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* width: 73%; */
  height: 20vh;
}
.workList-grade__btn:hover {
  transition: background-color 0.5s;
  background-color: var(--main-sub-color);
}
.workList-grade__btn:active {
  transition: background-color 0.5s;
  background-color: var(--main-sub-color__active);
}
.workList-grade__btn-update {
  /* margin-top: 16px; */
  margin-left: 16px;
}
.workList-grade__btn-init {
  width: 60%;
  height: 20%;
}
.workList-content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
