.page {
  font-family: Arial, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255 159 92);
  padding: 20px;
  border-radius: 15px;
  width: 32vw;
  height: 50vh;
  /* width: 100%; */
}
.page-input-box__input {
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid brown;
  height: 4vh;
  width: 100%;
}
.page-input-box__input::placeholder {
  color: rgb(0, 0, 0, 0.3);
  padding-left: 5px;
}
.page-input-box__input:hover {
  transition: background-color 0.5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.page-input-box__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-sub-color);
  color: var(--main-bg-color);
  font-size: 15px;
  margin-bottom: 20px;
  height: 4vh;
  width: 100%;

  border: 1px solid brown;
  border-radius: 8px;
}
.page-input-box__btn-github {
  background-color: var(--main-color);
}

.page-input-box__btn-text {
  margin-left: 5px;
}
.setting-box {
  display: flex;
  flex-direction: column;
}
.setting__text {
  font-size: 16px;
  /* margin-right: 20px; */
  width: 50%;
}
.setting__input-box {
  width: 20%;
}
.setting-column {
  display: flex;
  justify-content: space-around;
}
.setting__input {
  width: 65%;
  display: inline;
  font-size: 16px;
  border: none;
  background: none;
  border-bottom: 2px solid rgba(100, 69, 19, 0.3);
  background-color: inherit;
  margin-bottom: 15px;
}

.setting__input::placeholder {
  /* font-size: 16px; */
  color: rgb(0, 0, 0, 0.3);
}
.setting__input:hover {
  border: none;
  border-bottom: 2px solid rgba(100, 69, 19, 0.9);
}
