.listView {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listView-header {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}
.listView-header__title {
  display: flex;
  align-items: center;
}
.listView-header__btn {
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 5 px;
  background-color: inherit;
  color: rgb(133 86 70 / 66%);
  margin-left: 12px;
  padding-top: 4px;
}
.listView-list {
  list-style: none;
  height: 60%;
  margin-bottom: 0;
  /* width: 100%; */
  /* padding: 6px; */
  display: flex;
  /* background-color: red; */
}
.listView-element {
  background-color: #ffffff;
  float: left;
  padding: 5px;
  border: 1px solid rgba(247, 247, 247, 1);
  cursor: pointer;
  width: 16%;
  height: 90%;
}
.listView-element__btn {
  background-color: rgb(162 162 162);
  border: none;
  width: 10%;
  color: black;
}
.listView-element__btn:first-child {
  /* background-color: red; */
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.listView-element__btn:last-child {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
.listView-element__btn-text {
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.listView-element:hover {
  transition: background-color 0.5s;
  background-color: rgb(223, 223, 223);
}

.listView-element:active {
  transition: background-color 0.5s;
  background-color: rgb(141, 141, 141);
}
.listView-element__btn:hover {
  transition: background-color 0.5s;
  background-color: rgb(102, 102, 102);
}

.listView-element__btn:active {
  transition: background-color 0.5s;
  background-color: rgb(34, 34, 34);
}
.listView__item {
  width: 80%;
  margin: 0;
  padding: 8px 3px;
}
.listView__work-item {
  padding: 4px 3px;
}

.listView__item-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.listView__item-box ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listView__item-text__box {
  padding-right: 3%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listView__item-text__column {
}

.listView-loading {
  cursor: default;
  /* background-color: red; */
}

.list-icon__star-empty {
  color: var(--main-star-color__empty);
}
.list-icon__star-half__half,
.list-icon__star-half__full {
  position: absolute;
  top: 3px;
}
.list-icon__star-half__full {
  color: var(--main-star-color__empty);
}
.list-icon__star-half__box {
  display: block;
  height: 21px;
  width: 18px;
  position: relative;
}
.list-starIcon__box {
  display: flex;
  align-items: flex-start;
}
.listView-grade__star {
  color: var(--main-star-color);
}
.listView-element__clickedDate,
.listView-header__color-box__clickedDate {
  background-color: rgb(255 233 233);
}

.listView-element__today,
.listView-header__color-box__today {
  background-color: rgb(230 249 247);
}

.list-icon__redo {
  font-size: 20px;
}

.listView-header__color-explain {
  /* flex-direction: column; */
  /* width: 1200px; */
  display: flex;
  /* background-color: red; */
  flex-direction: column;
}
.listView-header__color-box {
  height: 16px;
  width: 16px;
  display: inline-block;
  align-items: center;
  border-radius: 4px;
}

.listView-header__color-text {
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
  margin-bottom: 3px;
}
.listView-header__color-row {
  display: flex;
  /* background-color: red; */
  align-items: center;
}
