@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Yanone+Kaffeesatz&display=swap");
main {
  font-family: "Bree Serif", serif;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
}
section {
  display: flex;
  height: auto;
}
article {
  width: 50vw;
  border: 1px solid blue;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
li:not(.ingredient__item) {
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
}
ol {
  list-style: none;
  padding: 0;
  width: 45vw;
}

.calendar {
  color: none;
}

footer,
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --main-bg-color: rgb(245, 235, 220);
  --main-color: rgb(80, 35, 20);
}
