@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Yanone+Kaffeesatz&display=swap");
main {
  font-family: "Bree Serif", serif;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* height: 100vh; */
}
section {
  display: flex;
  height: auto;
  width: 100%;
}
/* aside {
  width: 20vw;
  height: 80vh;
  border: 1px solid green;
} */
article {
  /* width: 48vw; */
  width: 50%;
  height: 80vh;
  border: 1px solid blue;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* li:not(.ingredient__item) */
.workList__work,
.workList__time {
  padding: 10px;
  /* border: 1px solid black; */
  margin-top: 10px;
}
ol {
  list-style: none;
  padding: 0;
  width: 45vw;
}

.calendar {
  color: none;
}

footer,
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --main-bg-color: rgb(245, 235, 220);
  --main-color: rgb(80, 35, 20);

  --main-sub-color: rgb(214, 35, 0);
  --main-sub-color__hover: rgba(167, 27, 0, 1);
  --main-sub-color__active: rgba(80, 35, 20, 1);
}
body {
  font-family: "Bree Serif", serif;
  background-color: var(--main-bg-color);
  margin: 0;
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Bree Serif", serif;
}
a {
  color: inherit;
  text-decoration: none;
}
