body {
  font-family: "Bree Serif", serif;
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: "Bree Serif", serif;
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:not(.caldendar) {
  font-family: "Bree Serif", serif;
}
a {
  color: inherit;
  text-decoration: none;
}
