.todo-list__template {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list__header {
  /* text-align: start; */
  width: 45vw;
}
.todo-list {
  border: 3px solid rgb(255, 131, 63);
  border-radius: 6px;
  padding: 1vw;
  width: calc(43vw - 6px);
  /* margin-left: 10px; */
  background-color: rgba(205, 97, 51, 1);
  /* width: 70%; */
  /* color: white; */
}
.todo-add {
  padding-bottom: 24px;
  margin-bottom: 24px;
  /* border-bottom: 2px dotted rgba(226, 156, 63, 0.864); */
}
.todo__content {
  /* border: 1px solid black; */
  padding: 2px;
}
.todo__content {
  /* color: white; */
  color: var(--main-bg-color);
  -webkit-appearance: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
}
.todo-input__content:not(.todo-input__checkbox) {
  border: none;
  margin-right: 16px;
  transition: all 0.5s;

  border-bottom: 2px solid rgba(255, 215, 184, 0.898);
}
.todo-input__content:hover {
  transition: all 0.5s;
  border-bottom: 2px solid rgba(253, 162, 91, 0.953);
}
.todo-input__content:focus {
  border-bottom: 2px solid rgb(226, 120, 39);
}
.todo-add__content:not(.todo-add__checkbox) {
  border: none;
  margin-right: 16px;

  border-bottom: 2px solid rgba(255, 193, 146, 0.898);
}
.todo-add__content:hover {
  transition: all 0.5s;
  border-bottom: 2px solid rgba(253, 162, 91, 0.953);
}
.todo-add__content:focus {
  border-bottom: 2px solid rgb(226, 120, 39);
}
.todo-display__content:not(.todo-display__checkbox) {
  border: none;
  cursor: default;
  margin-right: 16px;

  border-bottom: 2px solid rgba(140, 86, 0, 0.611);
}
.todo-display__content:hover {
  transition: all 0.5s;
  border-bottom: 2px solid rgba(131, 86, 12, 0.782);
}

.todo-explain__content:not(.todo-explain__checkbox) {
  /* border: none; */
  cursor: inherit;
  text-align: center;
  padding-left: 2px;

  border-right: 2px solid rgba(39, 36, 36, 0.837);
}
.todo-explain__text {
  border-left: 2px solid rgba(39, 36, 36, 0.837);
  /* border */
}
.todo__checkbox {
  width: 5%;
  display: none;
}
.todo__label {
  /* background-color: var(--main-bg-color); */
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  font-size: 5px;
}
.todo-display__checkbox,
.todo-display__label {
  cursor: default;
  /* background-color: red; */
}
.todo__checkbox + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: white;
}
/* .todo__checkbox:checked + label {
  border: 1px solid black;
  background-color: white;
} */
.todo__checkbox + .todo__label-disable {
  background-color: inherit;
  border: none;
  cursor: default;
}
.todo__label-icon {
  position: absolute;
  top: -4px;
  right: -1px;
  width: 12px;
}
.todo-icon__check {
  font-size: 14px;
}
.todo__text {
  display: inline-block;
  margin-left: 8px;
  width: 45%;
  padding-left: 5px;
}
.todo__text-checked {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  /* opacity: 0.9; */
  /* text-decoration-color: rgba(77, 77, 77, 0.734); */
}
.todo__date {
  cursor: pointer;
  text-align: center;
  display: inline;
  width: 100%;
}
.todo-explain__date {
  display: inline-block;
  width: 20%;
}
.react-datepicker__triangle {
  /* display: none; */
}

.react-datepicker-wrapper {
  /* display: block; */
  width: 18%;
  margin-right: 20px;
}

.react-datepicker__tab-loop {
  position: fixed;
}

.todo__priority {
  width: 20%;
}
.todo-explain__priority {
  display: inline-block;
  width: 20%;
}
.todo__btn-box {
  display: inline-block;
  margin-left: 16px;
  /* background-color: red;
  border: 1px solid green; */

  width: 8%;
}
.todo__btn-content {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* background-color: black; */
}

.todo__btn {
  /* display: inline-block; */
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* padding: 4px; */
  margin-left: 16px;
  height: 32px;
  width: 32px;
  font-weight: bold;
  color: var(--main-bg-color);
  background-color: var(--main-sub-color);
}

.todo__btn:hover {
  transition: all 0.5s;
  background-color: var(--main-sub-color__hover);
}

.todo__btn:active {
  transition: all 0.5s;
  background-color: var(--main-sub-color__active);
}

.todo-icon:not(.todo-icon__check) {
  cursor: pointer;
  font-size: 18px;
  height: 16px;
  width: 16px;
}
.todo__star-rating {
  width: 60px;
  display: inline;
}
