body {
  /* background-color: #f2ebe6; */
  font-family: "Bree Serif", serif;
  background-color: rgb(245, 235, 220);
  margin: 0;
  font-family: "Bree Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Bree Serif", serif;
}
